.pcon-title_block h1 {
	text-align: center;
}

.pcon-header-1-block {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #5377d8;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    
}