<div class="props-menu">
    <div class="prop-section explorer" id="">
        <p style="color: white; font-size: 1em; font-variant: small-caps; padding-bottom: 10px;">Explorer tree</p>
    
        <div id="explorer-tree">
            <ul id="explorer">
                <li class="project-name-explorer jstree-open" id="main-item"> Project-name
                        <ul id="project-contents-main">
                                <li id="item1">item</li>
                                <li id="item2">item-2</li>
                        </ul>
                </li>
                
            </ul>
        </div>

    </div>
    <div class="prop-section properties">properties</div>
</div>