<!-- 
    Tools must be initiated dynamically, using JSON(?)

 -->
 <!-- <script src="assets/js/constructor/classes/toolbar.js" lang="js"></script>
 <script src="assets/js/constructor/classes/tools/rectangle.js" lang="js"></script>
 <script src="assets/js/constructor/classes/tools/text.js" lang="js"></script> -->

 <div id="toolbar">
     <div class="toolbar-buttons">
            <button class="toolbar-button active" id="tools-button">tools</button>
             <button class="toolbar-button" id="blocks-button">blocks</button>
     </div>
     <div class="toolbar-content">
         <div id="toolbar-tools-content"></div>
         <div id="toolbar-blocks-content"></div>
     </div>
     
 </div>


 <!-- <script>var toolbar = new Toolbar($("#toolbar"))</script> -->